.tooltip-right {
  top: 50%;
  right: -3%;
  transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);

}

.tooltip-top {
  top: -3%;
  left: 50%;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);

  
}

.tooltip-bottom {
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
}

.tooltip-left {
  top: 50%;
  left: -3%;
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
}

.tooltip-animationfadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 2s;
}

.tooltip-animationfadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2s, opacity 1s;
}
